<div class="container">
  <h1 class="text-danger">Pouch DB</h1>
  <div class="row">
    <div class="col-12">
      <h4>CRUD operation 
          <a routerLink="crud" routerLinkActive='active' class="btn btn-link btn-sm mr-3"> View </a>
      </h4>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Bulk operation</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h4>Store media </h4>
    </div>
  </div>
</div>
<div class="container-fluid border wh-100">
  <router-outlet> </router-outlet>


</div>